@model Domain.Core.PagedResult<Application.DTOs.GetBooksDto>

@{
    ViewData["Title"] = "Kitap Listesi";
}

<h2>Kitaplar</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kitabın Adı</th>
            <th>Yazar</th>
            <th>Yayın Yılı</th>
            <th>ISBN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td><a class="nav-link text-dark" asp-controller="Book" asp-action="Detail" asp-route-id="@book.Id">@book.Title</a></td>
                <td>@book.Author</td>
                <td>@book.PublicationYear</td>
                <td>@book.ISBN</td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination justify-content-center mt-3">
    @if (Model.CurrentPage > 1)
    {
        <a class="page-link" asp-controller="Book" asp-action="Index" asp-route-pageIndex="@(Model.CurrentPage - 1)">Geri</a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a class="page-item @(i == Model.CurrentPage ? "active" : "")" asp-controller="Book" asp-action="Index" asp-route-pageIndex="@i">
            <span class="page-link">@i</span>
        </a>
    }

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a class="page-link" asp-controller="Book" asp-action="Index" asp-route-pageIndex="@(Model.CurrentPage + 1)">İleri</a>
    }
</div>